{% extends 'base.html' %}

{% block title %} lovesearch: главная {% endblock %}

{% block content %}
    <div style="text-align: center;">
        <h2>это поиск c ответами на разные вопросы про любовь.</h2>
        <hr>
        <br>
        <h5>все ответы взяты из датасета <a href="https://www.kaggle.com/datasets/bobazooba/thousands-of-questions-about-love">"Thousands of Questions about Love"</a>.</h5>
        <br>
        <br>
    </div>
    <div>
        <form action='/search'>
            <input type="text" id="query" name="query" placeholder="поиск..." aria-label="поиск...">
            <button type="submit">
                <svg viewBox="0 0 1024 1024">
                    <path class="path1" d="M848.471 928l-263.059-263.059c-48.941 36.706-110.118 55.059-177.412 55.059-171.294 0-312-140.706-312-312s140.706-312 312-312c171.294 0 312 140.706 312 312 0 67.294-24.471 128.471-55.059 177.412l263.059 263.059-79.529 79.529zM189.623 408.078c0 121.364 97.091 218.455 218.455 218.455s218.455-97.091 218.455-218.455c0-121.364-103.159-218.455-218.455-218.455-121.364 0-218.455 97.091-218.455 218.455z"></path>
                </svg>
            </button>
<!--            <label for="metrics">метрика поиска</label>-->
            <select id="metrics" name="metrics">
                <option value="tfidf">tf-idf</option>
<!--                <option value="bm25">bm25</option>-->
                <option value="bert">bert</option>
            </select>
        </form>
    </div>
    <style>
        form {
            background-color: #BA8F77;
            width: 500px;
            height: 44px;
            border-radius: 5px;
            display: flex;
            flex-direction: row;
            align-items: center;
            margin: auto;
            opacity: 0.7;
        }
        input {
            all: unset;
            font: 16px system-ui;
            color: #fff;
            height: 100%;
            width: 100%;
            padding: 6px 10px;
        }
        ::placeholder {
            color: #fff;
            opacity: 0.7;
        }
        button {
            all: unset;
            cursor: pointer;
            width: 44px;
            height: 44px;
        }
        svg {
            color: #fff;
            fill: currentColor;
            width: 50px;
            height: 50px;
            padding: 10px;
        }

        .dropdown-content a {
            color: black;
            padding: 12px 16px;
            text-decoration: none;
            display: block;
        }
        .dropdown-content a:hover {background-color: #ddd;}
    </style>
{% endblock %}
